
/* первичный цвет(мелкий шрифт в центре 1 стр, телефон вверху, должности, 2 стр мелкий шрифт) -  #757575 */
/* вторичный цвет (навигация, заголовки, кнопки 2 стр. )   - #212121*/
/* акцент - синие элементы-  #2196F3 */
/* логотип (черная часть) -  #000000   */
/* cекция Герой фон -  #2F303A  */
/* - главный белый заголовок, кнопка замовити послугу, только! аддрес в футере - #FFFFFF */
/* телефон и мыло в  футере -  rgba(255, 255, 255, 0.6)   */
/* background-color  #F5F5F5 */
:root {
    --primary-background-color:#F5F5F5;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-black-color: #000000;
    --secondary-text-background-color: #FFFFFF;
    --phone-mail-color:rgba(255, 255, 255, 0.6); 
    --secondary-background-color: #F5F4FA;
    --heroy-background-color: #2F303A;
    --heroy-button-color: #188CE8; /* цвет фона кнопки при ховере, фокусу и активе */
  }
  body {
    background-color:var(--primary-background-color); 

    color:var(--primary-text-color);    
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
 /* цвет заголовков */
.subtitle{
  color:var(--primary-black-color);
}
/* Цвет фона шапки сайта */
 .page-header {
    background-color: var(--secondary-text-background-color);
  }
/* Цвет и шрифт cсылок меню навигации */
 .header-nav a{ 
  color: var(--title-text-color);

  font-weight: 500; 
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
 /* xoвер, фокус элементы навигации */ 
 }
 .header-nav a:hover, .header-nav a :focus, .header-nav a:active {
  color: var(--accent-color);
 } 
 

 /* Цвет и шрифт cсылок телефон и почта */ 
 .contacts a{ 
  color: var(--primary-text-color);

  font-style: 400;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
 }
 /* сброс точек со спсков */
 .contacts{list-style: none;
 }
 .header-nav{list-style: none;
 }
 .items-benefits{list-style: none;
 }
 .items-images{list-style: none;
 }
 .items-employees{list-style: none;
 }
 .items-address{list-style: none;
 }
 .items-works{list-style: none;
 }
/* xoвер, фокус - телефон и почта */ 
 .contacts a:hover, .header-nav a :focus  {
 color: var(--accent-color);
}

  /* цвет и шрифт логотипа в шапке -правая часть */
  .logo-header{
    color:var(--primary-black-color);

    font-family: Raleway, sans-serif;     
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
   /* цвет и шрифт логотипа - левая часть */
  .logo-link{
    color:var(--accent-color);

    font-family: Raleway, sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
   /* Цвет фона и текста секции  Герой */
   .section-heroy {
    background-color: var(--heroy-background-color);
    color:var(--secondary-text-background-color);
  }
  .section-heroy h1 {   
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  }
  /* кнопка Герой */
  .button-heroy {
    background-color:var(--accent-color);
    color:var(--secondary-text-background-color);

    font-family: inherit; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .button-heroy:hover,.button-heroy:focus,.button-heroy:active{
    background-color:var(--heroy-button-color);
  }
 /* шрифты заголовки секция преимущества */
 .subtitle{
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
 }
/* шрифты текст секция преимущества */
 .subtitle-p { 
  line-height: 1.7;
 }
 /* шрифты заголовок работы */
 .section-images > .subtitle{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
 }
  /* шрифты заголовок команда */
 .section-employees > .subtitle{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
 }
/* шрифты заголовок член команды */
 .items-employees .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
 }
 
 /* шрифты текст член команды */
 .items-employees p{ 
/* font-weight: 400; */
font-size: 16px;
line-height: 1.19
 }

/*  - кнопки, секция работы */
.button-work  {
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);

  font-family: inherit; 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6; 
}
  .button-work:hover, .button-work:focus, .button-work:active {
    background-color: var(--accent-color);
    color:var(--secondary-text-background-color);
  }
  /* шрифты заголовок работы */
.items-works .subtitle{ 
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
  /* шрифты текст работы */
.items-works p{  
    
    font-size: 16px;
    line-height: 1.88;
}
 /* Цвет фона Футера */
 .footer{
  background-color: var(--heroy-background-color);
}
  /* цвет и шрифт тел и эл. почты в футере */
  .link-mailphone {
    color: var(--phone-mail-color);

    font-style: normal;
    /* font-weight: 400; */
    line-height: 1.71;
    text-decoration: none;
  }
  /* xoвер, фокус  тел и эл. почты в футере */
  .link-mailphone:hover, .link-mailphone :focus {
    color: var(--accent-color);
   }
  /* цвет и шрифт адреса в футере */
  .link-town{
    color: var(--secondary-text-background-color);

    /* font-weight: 400; */
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
  }upp
  /* xoвер, фокус адрес в футере */
  .link-town:hover, .link-town:focus{
    color: var(--accent-color);
  }
   /* цвет и шрифт логотипа в футере  - правая часть!!!*/
  .logo-footer{
    color: var(--secondary-background-color);

    font-family: Raleway, sans-serif;  
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
